/*==================================== RESET STYLES ====================================*/
/*==================================== RESET STYLES ====================================*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== FONTS ====================================*/
/*==================================== FONTS ====================================*/
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Black.otf") format("otf");
  src: url("../fonts/Gotham/Gotham-Black.woff") format("woff");
  src: url("../fonts/Gotham/Gotham-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-UltraItalic.otf") format("otf");
  src: url("../fonts/Gotham/Gotham-UltraItalic.woff") format("woff");
  src: url("../fonts/Gotham/Gotham-UltraItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Bold.otf") format("otf");
  src: url("../fonts/Gotham/Gotham-Bold.woff") format("woff");
  src: url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2");
  src: url("../fonts/Gotham/GothamBold.ttf") format("tff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Brandon-Grotesque";
  src: url("../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-black.woff2") format("woff2"), url("../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-black.woff") format("woff"), url("../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Brandon-Grotesque";
  src: url("../fonts/Brandon-Grotesque-Font-Family/BrandonGrotesque-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.main-heading {
  color: #ffffff;
  text-align: center;
}
.main-heading__title {
  font-family: gotham;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin-bottom: 10px;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-heading__subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.2;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}

.heading {
  text-align: center;
  color: #394b50;
}
.heading__title {
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin-bottom: 10px;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.heading__subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.2;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 0.5s 0.25s;
  transition: all 0.5s 0.25s;
}

.button {
  cursor: pointer;
  max-width: 211px;
  padding: 16px 0;
  text-align: center;
  background: #fff;
  border: 1px solid #818b95;
  color: #818b95;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background: #ffbb42;
  color: #fff;
  border-color: #ffbb42;
}
.button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.label {
  width: 224px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.input {
  padding: 16px 16px 16px 40px;
  border-radius: 4px;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  display: block;
  width: 100%;
}
.input::-webkit-input-placeholder {
  color: #a9a9a9;
}
.input::-moz-placeholder {
  color: #a9a9a9;
}
.input:-ms-input-placeholder {
  color: #a9a9a9;
}
.input::-ms-input-placeholder {
  color: #a9a9a9;
}
.input::placeholder {
  color: #a9a9a9;
}

/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/
.header__wrapper {
  height: 94px;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 10px 0px #bcbcbc;
          box-shadow: 0px 4px 10px 0px #bcbcbc;
  -webkit-transition: all 0.5s 2s;
  transition: all 0.5s 2s;
  -webkit-transform: translate(0, -100px);
      -ms-transform: translate(0, -100px);
          transform: translate(0, -100px);
}
.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-right: 18px;
}
.header__menu {
  max-width: 835px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 835px;
          flex: 1 1 835px;
}
.header__menu-list, .header__side-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #868686;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-link, .header__side-link {
  padding: 9px 10px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
}
.header__menu-link:hover, .header__side-link:hover {
  color: #fff;
  background-color: #ffbb42;
}
.header__side {
  display: none;
}

/*==================================== HERO ====================================*/
/*==================================== HERO ====================================*/
.hero {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #709dca), color-stop(30%, #fff));
  background: linear-gradient(to bottom, #709dca 70%, #fff 30%);
  padding: 204px 0 100px 0;
  height: 100vh;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}
.hero__heading {
  margin-bottom: 34px;
}
.hero__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}
.hero__form-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 224px;
          flex: 1 1 224px;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
}
.hero__form-label:first-child {
  -webkit-transition: all 0.5s 0.75s;
  transition: all 0.5s 0.75s;
}
.hero__form-label:nth-child(2) {
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
}
.hero__form-label:nth-child(3) {
  -webkit-transition: all 0.5s 1.25s;
  transition: all 0.5s 1.25s;
}
.hero__form-icon {
  position: absolute;
  left: 10px;
}
.hero__form-button-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 212px;
          flex: 1 1 212px;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 0.5s 1.5s;
  transition: all 0.5s 1.5s;
}
.hero__form-button {
  width: 100%;
}
.hero__slider-outer {
  width: 648px;
  height: 344px;
  background: url("../img/hero/computer.png") no-repeat center/100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s 1.75s;
  transition: -webkit-transform 0.5s 1.75s;
  transition: transform 0.5s 1.75s;
  transition: transform 0.5s 1.75s, -webkit-transform 0.5s 1.75s;
}
.hero__slider {
  width: 445px;
  margin: 18px auto 80px;
}
.hero__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__slider-dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__slider-dots button::before {
  content: "";
  height: 16px;
  width: 16px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #dedfe0;
}
.hero__slider-dots .slick-active button::before {
  border-color: #1ca8dd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*==================================== CERVICES ====================================*/
/*==================================== CERVICES ====================================*/
.services {
  padding: 100px 0 150px;
}
.services__heading {
  margin-bottom: 90px;
}
.services__list {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  row-gap: 75px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.services__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.services__list-item:nth-child(odd) {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services__list-item:nth-child(even) {
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.services__item-icon {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__item-title {
  font-family: Lato;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin-bottom: 8px;
}
.services__item-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}

/*==================================== ABOUT ====================================*/
/*==================================== ABOUT ====================================*/
.about .container {
  max-width: 1920px;
  padding: 0;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__image {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info {
  background-color: #ffc155;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 30px 80px;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.about__heading {
  text-align: left;
  margin-bottom: 20px;
}
.about .heading__title {
  color: #ffffff;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.about__text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  max-width: 508px;
  margin-bottom: 38px;
}
.about__button {
  background: transparent;
  border: 1px solid #e7ad48;
  color: #fff;
  max-width: 145px;
}
.about__button:hover {
  color: #818b95;
  background: #fff;
}

/*==================================== PRICES ====================================*/
/*==================================== PRICES ====================================*/
.prices {
  padding: 136px 0 193px;
  background: #e7edf3;
}
.prices__heading {
  margin-bottom: 80px;
}
.prices__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.prices__item {
  padding: 58px 30px 50px;
  border: 1px solid #ccd5df;
  border-radius: 4px;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  text-transform: uppercase;
  background: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.prices__item--active {
  background: #709dca;
  padding: 85px 30px 75px;
  position: absolute;
  left: 50%;
  margin-left: -196px;
  top: -26px;
  z-index: 1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.prices__item--active .prices__item-title {
  color: #fff;
}
.prices__item--active .prices__item-cost--bold {
  color: #fff;
}
.prices__item--active .prices__item-cost {
  color: #fff;
}
.prices__item--active .prices__options-option {
  color: #fff;
}
.prices__item--active .prices__options-option::before {
  background: #8eb8e2;
}
.prices__item-title {
  font-size: 25px;
  color: #818b95;
  margin-bottom: 30px;
}
.prices__item-cost {
  font-size: 14px;
  text-transform: none;
  color: #818b95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  height: 60px;
  text-transform: uppercase;
}
.prices__item-cost--bold {
  font-family: Lato;
  font-size: 60px;
  font-weight: 700;
  color: #ffbb42;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prices__item-cost-dollar {
  font-size: 30px;
}
.prices__options {
  margin-bottom: 30px;
}
.prices__options-option {
  font-family: Lato;
  font-size: 13.5px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b5bbc1;
  text-align: center;
}
.prices__options-option::before {
  content: "";
  display: block;
  width: 330px;
  height: 1px;
  background: #e2e9f0;
}
.prices__item-button {
  max-width: 130px;
  margin: 0 auto;
}

/*==================================== PROCESS ====================================*/
/*==================================== PROCESS ====================================*/
.process {
  padding: 154px 0 150px;
}
.process__heading {
  margin-bottom: 80px;
}
.process__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.process__arrows {
  margin-bottom: 10px;
}
.process__arrows-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.process__arrow--1 {
  margin-left: -3%;
}
.process__arrow--2 {
  margin-right: -3%;
}
.process__arrow-wrapper-1 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.process__arrow-wrapper-2 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.process__cards {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.process__cards-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.process__card {
  max-width: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 15px;
}
.process__card--1 {
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.process__card--2 {
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s 0.25s;
  transition: all 0.5s 0.25s;
}
.process__card--2::after {
  content: "";
  display: block;
  background: url("../img/process/triangle_left_icon.png");
  width: 11px;
  height: 11px;
  position: absolute;
  top: 90px;
  right: 15px;
}
.process__card--3 {
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.process__card--3::after {
  content: "";
  display: block;
  background: url("../img/process/triangle_right_icon.png");
  width: 11px;
  height: 11px;
  position: absolute;
  top: 90px;
  left: 15px;
}
.process__card--4 {
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s 0.75s;
  transition: all 0.5s 0.75s;
}
.process__card-icon {
  margin-bottom: 100px;
  height: 70px;
}
.process__card-title {
  font-family: Lato;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin-bottom: 30px;
}
.process__card-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
  text-align: center;
}
.process__button {
  margin: 0 auto;
}
.process__button-wrapper {
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*==================================== CLIENTS ====================================*/
/*==================================== CLIENTS ====================================*/
.clients {
  padding: 140px 0 158px;
  background: #ffc155;
}
.clients__heading {
  margin-bottom: 60px;
  color: #fff;
}
.clients__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  -webkit-column-gap: 34px;
     -moz-column-gap: 34px;
          column-gap: 34px;
  row-gap: 17px;
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 30px 52px 30px;
  background: #fff;
  border-radius: 4px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.clients__item-photo {
  margin-right: 30px;
}
.clients__item-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
  margin-bottom: 28px;
}
.clients__item-text span {
  font-family: "Brandon-Grotesque";
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  color: #7b7b7b;
  font-style: italic;
}
.clients__item-author {
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #99a9ae;
}
.clients__item-author span {
  color: #f6772c;
}

/*==================================== NEWSLETTER ====================================*/
/*==================================== NEWSLETTER ====================================*/
.newsletter {
  padding: 155px 0 65px;
}
.newsletter__heading {
  margin-bottom: 40px;
}
.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.newsletter__form-label {
  position: relative;
}
.newsletter__form-label--name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 308px;
          flex: 1 1 308px;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.newsletter__form-label--email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 388px;
          flex: 1 1 388px;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.newsletter__form-icon {
  position: absolute;
  left: 10px;
}
.newsletter__form-input {
  border: 1px solid #cbcbcb;
}
.newsletter__form-button-wrapper {
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.newsletter__form-button {
  width: 220px;
}
.newsletter__address {
  height: 549px;
  background: url("../img/newsletter/map.png") no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 -20px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.newsletter__address::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e3e7ec;
  position: absolute;
  bottom: -60px;
}
.newsletter__address-point {
  width: 285px;
  height: 298px;
  background: url("../img/newsletter/point.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform: translateY(-90px);
      -ms-transform: translateY(-90px);
          transform: translateY(-90px);
}
.newsletter__address-title {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}
.newsletter__address-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #aeb7ba;
  width: 145px;
  text-align: center;
}
.newsletter__address-text span {
  color: #ffbb42;
}
.newsletter__address-logo {
  position: absolute;
  bottom: -55px;
}

/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/
.footer__top {
  padding-top: 70px;
  padding-bottom: 50px;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__menu {
  max-width: 730px;
  margin: 0 auto 30px;
}
.footer__menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu-item {
  padding: 10px;
}
.footer__menu-link {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #394b50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__menu-link:hover {
  color: #ffc155;
}
.footer__phone {
  width: 180px;
  margin: 0 auto 20px;
}
.footer__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__phone-text {
  font-family: Lato;
  font-size: 22.6px;
  line-height: 24px;
  font-weight: 400;
  color: #394b50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__phone-text:hover {
  color: #ffc155;
}
.footer__socials {
  width: 105px;
  margin: 0 auto;
}
.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__socials-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__socials-link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.footer__bottom {
  background: #709dca;
  padding: 18px 0;
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__bottom-text {
  max-width: 570px;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*------------------------------ 1160 ------------------------------*/
@media (max-width: 1160px) {
  .services {
    padding-bottom: 50px;
  }
  .about {
    padding-top: 94px;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__image {
    height: 400px;
  }
}
/*------------------------------ 1050 ------------------------------*/
@media (max-width: 1050px) {
  .prices__item {
    padding: 20px 15px;
  }
  .prices__item--active {
    padding: 40px 15px;
    top: -20px;
    margin-left: -181px;
  }
}
/*------------------------------ 950 ------------------------------*/
@media (max-width: 950px) {
  .prices {
    padding-top: 124px;
    padding-bottom: 50px;
  }
  .prices__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices__item {
    margin-bottom: 20px;
    padding: 20px 10px;
  }
  .prices__item--active {
    position: static;
    margin-left: 0;
  }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients__item {
    max-width: 563px;
  }
}
/*------------------------------ 860 ------------------------------*/
@media (max-width: 860px) {
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__item-icon {
    min-width: 80px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
/*------------------------------ 800 ------------------------------*/
@media (max-width: 800px) {
  .header__menu {
    display: none;
  }
  .header__side {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 320px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 100;
  }
  .header__side--open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: 0px 0px 30px 11px #bcbcbc;
            box-shadow: 0px 0px 30px 11px #bcbcbc;
  }
  .header__side-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    max-height: 500px;
  }
  .burger__wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    -webkit-transition: all 0.5s 2s;
    transition: all 0.5s 2s;
    -webkit-transform: translate(0, -100px);
        -ms-transform: translate(0, -100px);
            transform: translate(0, -100px);
    z-index: 101;
  }
  .burger {
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 50%;
  }
  .burger__line {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--open {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger--open .burger__line {
    position: relative;
  }
  .burger--open .burger__line:first-child, .burger--open .burger__line:last-child {
    position: absolute;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .newsletter {
    padding: 124px 0 60px;
  }
}
/*------------------------------ 720 ------------------------------*/
@media (max-width: 720px) {
  .process {
    padding: 124px 0 40px;
  }
  .process__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0px;
  }
  .process__arrows-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 32px;
  }
  .process__arrow {
    -webkit-transform: translateY(-44px) rotate(270deg);
        -ms-transform: translateY(-44px) rotate(270deg);
            transform: translateY(-44px) rotate(270deg);
  }
  .process__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .process__card {
    margin-bottom: 50px;
  }
  .process__card--3::after {
    top: 0;
    right: 15px;
    left: auto;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .process__card-icon {
    margin-bottom: 40px;
  }
  .footer__top {
    padding-top: 40px;
  }
  .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*------------------------------ 700 ------------------------------*/
@media (max-width: 700px) {
  .input {
    padding: 10px 10px 10px 40px;
  }
  .hero {
    background: linear-gradient(to bottom, #709dca 740px, #fff calc(100vh - 740px));
    padding-top: 130px;
  }
  .hero__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__form-label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
    width: auto;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .hero__form-button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
  }
  .hero__form-button-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .hero__slider-outer {
    width: 486px;
    height: 258px;
  }
  .hero__slider {
    width: 342px;
    margin-top: 15px;
  }
  .hero__slide img {
    width: 100%;
  }
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter__form-label {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .newsletter__form-label--name, .newsletter__form-label--email {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .newsletter__form-button {
    max-width: 224px;
    width: 224px;
  }
}
/*------------------------------ 600 ------------------------------*/
@media (max-width: 600px) {
  .about__info {
    padding: 20px 30px;
  }
}
/*------------------------------ 530 ------------------------------*/
@media (max-width: 530px) {
  .hero {
    background: linear-gradient(to bottom, #709dca 700px, #fff calc(100vh - 700px));
  }
  .hero__slider-outer {
    width: 364px;
    height: 194px;
  }
  .hero__slider {
    margin-top: 10px;
    width: 256px;
  }
}
/*------------------------------ 425 ------------------------------*/
@media (max-width: 425px) {
  .header__menu {
    min-width: 100%;
  }
  .hero {
    background: linear-gradient(to bottom, #709dca 630px, #fff calc(100vh - 630px));
    padding-bottom: 0;
  }
  .hero__slider-outer {
    width: 260px;
  }
  .hero__slider {
    width: 180px;
    margin-top: 35px;
    margin-bottom: 40px;
  }
  .hero__form {
    margin-bottom: 0;
  }
  .prices__options-option::before {
    width: 250px;
  }
  .clients__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .clients__item-photo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .clients__item-photo img {
    display: block;
    margin: 0 auto;
  }
}
/*==================================== ANIMATION ====================================*/
/*==================================== ANIMATION ====================================*/
.loading,
.anim-item {
  opacity: 0;
}

.loaded,
.anim-item--active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}