@import "reset";
@import "vars";
@import "mixins";
@import "fonts";

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
	height: 100%;
}

.main-heading {
	color: #ffffff;
	text-align: center;

	&__title {
		font-family: gotham;
		font-size: 35px;
		line-height: 1.2;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: -0.025em;
	}

	&__subtitle {
		font-family: 'Open Sans';
		font-size: 16px;
		font-weight: 300;
		letter-spacing: normal;
	}
}

.heading {
	text-align: center;
	color: #394b50;

	&__title {
		font-family: Gotham;
		font-size: 30px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: -0.025em;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-family: 'Open Sans';
		font-size: 16px;
		font-weight: 300;
		letter-spacing: normal;
		line-height: 1.2;
	}
}

.button {
	cursor: pointer;
	max-width: 211px;
	padding: 16px 0;
	text-align: center;
	background: #fff;
	border: 1px solid #818b95;
	color: #818b95;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 4px;
	transition: all .3s;

	&:hover {
		background: #ffbb42;
		color: #fff;
		border-color: #ffbb42;
	}

	&:active {
		transform: scale(.9);
	}
}

.label {
	width: 224px;
	margin-right: 10px;
	display: flex;
	align-items: center;

	position: relative;
}

.input {
	padding: 16px 16px 16px 40px;
	border-radius: 4px;
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 1.2;
	font-weight: 400;
	display: block;
	width: 100%;

	&::placeholder {
		color: #a9a9a9;
	}
}


/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/

.header {
	height: 94px;
	width: 100%;
	position: fixed;
	background: #fff;
	z-index: 2;
	box-shadow: 0px 4px 10px 0px #bcbcbc;

	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {}

	&__menu {}

	&__menu-list {
		display: flex;
		font-family: lato;
		font-size: 13.5px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #868686;
	}

	&__menu-item {}

	&__menu-link {
		padding: 9px 20px;
		border-radius: 4px;
		transition: all .3s;
		color: #000;

		&:hover {
			color: #fff;
			background-color: #ffbb42;
		}
	}
}


/*==================================== HERO ====================================*/
/*==================================== HERO ====================================*/

.hero {
	background-color: #709dca;
	padding: 204px 0 0 0;
	height: 674px;
	margin-bottom: 100px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__heading {
		margin-bottom: 34px;
	}

	&__form {
		width: 100%;
		display: flex;
		margin-bottom: 65px;
	}

	&__form-label {
		flex: 1 1 224px;
	}

	&__form-icon {
		position: absolute;
		left: 10px;
	}

	&__form-input {}

	&__form-button {
		flex: 1 1 212px;
	}

	&__slider-outer {
		width: 648px;
		height: 344px;
		background: url('../img/hero/computer.png') no-repeat center;
	}

	&__slider {
		width: 445px;
		margin: 18px auto 80px;
	}

	&__slide-inner {}

	&__slide {}

	&__slider-dots {
		.slick-dots {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		button {
			font-size: 0;
			background-color: transparent;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;

			&::before {
				content: "";
				height: 16px;
				width: 16px;
				margin: 0 auto;
				border-radius: 50%;
				border: 2px solid #dedfe0;
			}
		}
	}

	&__slider-dots .slick-active button::before {
		border-color: #1ca8dd;
		// background-color: #424551;
		transition: all .3s;
	}
}


/*==================================== CERVICES ====================================*/
/*==================================== CERVICES ====================================*/

.services {
	padding: 100px 0 150px;

	&__heading {
		margin-bottom: 90px;
	}

	&__list {
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		row-gap: 75px;
		column-gap: 50px;
	}

	&__list-item {
		display: flex;
	}

	&__item {}

	&__item-icon {
		min-width: 100px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	&__item-info {}

	&__item-title {
		font-family: Lato;
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
		text-transform: uppercase;
		color: #394b50;
		margin-bottom: 8px;
	}

	&__item-text {
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 22px;
		font-weight: 400;
		color: #7b7b7b;
	}
}


/*==================================== ABOUT ====================================*/
/*==================================== ABOUT ====================================*/

.about {
	.container {
		max-width: 1920px;
		padding: 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__image {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__info {
		background-color: #ffc155;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		padding-left: 80px;

	}

	&__heading {
		text-align: left;
		margin-bottom: 20px;
	}

	.heading__title {
		color: #ffffff;
	}

	&__text {
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
		max-width: 508px;
		margin-bottom: 38px;
	}

	&__button {
		background: transparent;
		border: 1px solid #e7ad48;
		color: #fff;
		max-width: 145px;

		&:hover {
			color: #818b95;
			background: #fff;
		}
	}
}


/*==================================== PRICES ====================================*/
/*==================================== PRICES ====================================*/

.prices {
	padding: 136px 0 193px;
	background: #e7edf3;

	&__heading {
		margin-bottom: 80px;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__item {
		padding: 58px 30px 50px;
		border: 1px solid #ccd5df;
		border-radius: 4px;
		text-align: center;
		font-family: Lato;
		font-weight: 300;
		text-transform: uppercase;
		background: #fff;

		&--active {
			background: #709dca;
			padding: 85px 30px 75px;
			position: absolute;
			left: 50%;
			margin-left: -196px;
			top: -26px;

			.prices__item-title {
				color: #fff;
			}

			.prices__item-cost--bold {
				color: #fff;
			}

			.prices__item-cost {
				color: #fff;
			}

			.prices__options-option {
				color: #fff;
			}

			.prices__options-option {
				&::before {
					background: #8eb8e2;
				}
			}
		}
	}

	&__item-title {
		font-size: 25px;
		color: #818b95;
		margin-bottom: 30px;
	}

	&__item-cost {
		font-size: 14px;
		text-transform: none;
		color: #818b95;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		height: 60px;
		text-transform: uppercase;
	}

	&__item-cost--bold {
		font-family: Lato;
		font-size: 60px;
		font-weight: 700;
		color: #ffbb42;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
	}

	&__item-cost-dollar {
		font-size: 30px;
	}

	&__options {
		margin-bottom: 30px;
	}

	&__options-option {
		font-family: Lato;
		font-size: 13.5px;
		line-height: 40px;
		font-weight: 400;
		text-transform: uppercase;
		color: #b5bbc1;
		text-align: center;

		&::before {
			content: '';
			display: block;
			width: 330px;
			height: 1px;
			background: #e2e9f0;
		}
	}

	&__item-button {
		max-width: 130px;
		margin: 0 auto;
	}
}


/*==================================== PROCESS ====================================*/
/*==================================== PROCESS ====================================*/

.process {
	padding: 154px 0 150px;

	&__heading {
		margin-bottom: 80px;
	}

	&__cards {
		margin-bottom: 90px;
		display: flex;
		justify-content: space-between;
	}

	&__cards-pair {
		display: flex;
		justify-content: space-around;
		flex: 1 1 auto;
	}

	&__card {
		max-width: 216px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&--1 {
			&::after {
				content: '';
				display: block;
				background: url('../img/process/arrows_icon.png');
				width: 128px;
				height: 32px;
				position: absolute;
				top: -32px;
				right: -50%;
			}
		}

		&--4 {
			&::after {
				content: '';
				display: block;
				background: url('../img/process/arrows_icon.png');
				width: 128px;
				height: 32px;
				position: absolute;
				top: -32px;
				left: -114px;
			}
		}

		&--2 {
			&::after {
				content: '';
				display: block;
				background: url('../img/process/triangle_left_icon.png');
				width: 11px;
				height: 11px;
				position: absolute;
				top: 90px;
				right: 15px;
			}
		}

		&--3 {
			&::after {
				content: '';
				display: block;
				background: url('../img/process/triangle_right_icon.png');
				width: 11px;
				height: 11px;
				position: absolute;
				top: 90px;
				left: 15px;
			}
		}
	}

	&__card-icon {
		margin-bottom: 100px;
		height: 70px;
	}

	&__card-title {
		font-family: Lato;
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		text-transform: uppercase;
		color: #394b50;
		margin-bottom: 30px;
	}

	&__card-text {
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 22px;
		font-weight: 400;
		color: #7b7b7b;
		text-align: center;
	}

	&__button {
		margin: 0 auto;
	}
}


/*==================================== CLIENTS ====================================*/
/*==================================== CLIENTS ====================================*/

.clients {
	padding: 140px 0 158px;
	background: #ffc155;

	&__heading {
		margin-bottom: 60px;
		color: #fff;
	}

	&__list {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		column-gap: 34px;
		row-gap: 17px;
	}

	&__item {
		display: flex;
		padding: 45px 30px 52px 30px;
		background: #fff;
		border-radius: 4px;
	}

	&__item-photo {
		margin-right: 30px;
	}

	&__item-info {}

	&__item-text {
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 22px;
		font-weight: 400;
		color: #7b7b7b;
		margin-bottom: 28px;

		span {
			font-family: 'Brandon-Grotesque';
			font-size: 30px;
			line-height: 22px;
			font-weight: 700;
			color: #7b7b7b;
			font-style: italic;
		}
	}

	&__item-author {
		font-family: Lato;
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-transform: uppercase;
		color: #99a9ae;

		span {
			color: #f6772c;
		}
	}
}


/*==================================== NEWSLETTER ====================================*/
/*==================================== NEWSLETTER ====================================*/

.newsletter {
	padding: 155px 0 65px;

	&__heading {
		margin-bottom: 40px;
	}

	&__form {
		display: flex;
		margin-bottom: 50px;
	}

	&__form-label {
		position: relative;

		&--name {
			flex: 1 1 308px;
		}

		&--email {
			flex: 1 1 388px;
		}
	}

	&__form-icon {
		position: absolute;
		left: 10px;
	}

	&__form-input {
		border: 1px solid #cbcbcb;
	}

	&__form-button {
		width: 220px;
	}

	&__address {
		height: 549px;
		background: url('../img/newsletter/map.png');
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #e3e7ec;
			position: absolute;
			bottom: -60px;
		}
	}

	&__address-point {
		width: 285px;
		height: 298px;
		background: url('../img/newsletter/point.png');
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		transform: translateY(-90px);
	}

	&__address-title {
		font-family: Lato;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 15px;
	}

	&__address-text {
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 24px;
		font-weight: 400;
		text-transform: none;
		color: #aeb7ba;
		width: 145px;
		text-align: center;

		span {
			color: #ffbb42;
		}
	}

	&__address-logo {
		position: absolute;
		bottom: -55px;
	}
}

/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/

.footer {

	&__top {
		padding-top: 70px;
		padding-bottom: 50px;
	}

	&__menu {
		max-width: 730px;
		margin: 0 auto 30px;
	}

	&__menu-list {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__menu-item {}

	&__menu-link {
		font-family: Lato;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #394b50;
		transition: all .3s;

		&:hover {
			color: #ffc155;
		}
	}

	&__phone {
		width: 180px;
		margin: 0 auto 20px;
	}

	&__phone-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__phone-icon {}

	&__phone-text {
		font-family: Lato;
		font-size: 22.6px;
		line-height: 24px;
		font-weight: 400;
		color: #394b50;
		transition: all .3s;

		&:hover {
			color: #ffc155;
		}
	}

	&__socials {
		width: 105px;
		margin: 0 auto;
	}

	&__socials-list {
		display: flex;
		justify-content: space-between;
	}

	&__socials-item {}

	&__socials-link {
		transition: all .3s;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__bottom {
		background: #709dca;
		padding: 18px 0;
	}

	&__bottom-text {
		max-width: 570px;
		margin: 0 auto;
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
	}
}